# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# DATABASE_URL: Supabase PostgreSQL connection string
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.arbiwfphkfpsluwgtbjd.supabase.co:5432/postgres"

# SUPABASE CONFIG
SUPABASE_URL="https://arbiwfphkfpsluwgtbjd.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="MY_SUPABASE_SERVICE_ROLE_KEY"
VITE_SUPABASE_URL="https://arbiwfphkfpsluwgtbjd.supabase.co"
VITE_SUPABASE_ANON_KEY="MY_SUPABASE_ANON_KEY"
NEXT_PUBLIC_SUPABASE_URL="https://arbiwfphkfpsluwgtbjd.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="MY_SUPABASE_ANON_KEY"

# FIREBASE CONFIG
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSy..."
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="admin-794d7.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_DATABASE_URL="https://admin-794d7-default-rtdb.asia-southeast1.firebasedatabase.app"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="admin-794d7"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="admin-794d7.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="830387360047"
NEXT_PUBLIC_FIREBASE_APP_ID="1:830387360047:web:ff526171cc2f41b73751da"

# RESEND_API_KEY
RESEND_API_KEY="re_..."
